h3.h5bp {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url(img/WSI-LOGOtrans.png);
  width: 100%;
  height: auto;
}
.main-logo{
width: 50%;
height: 50%;
}

.thumbnail{
	background-color: transparent;
	border: none;
}
div.img-div{
    height:200px;
    width:200px;
    overflow:hidden;
    border-radius:50%;
}

.img-div img{
    -webkit-transform:translate(-50%);
    margin-left:100px;
}
.content-section-a{
	padding-top: 10px;
	padding-bottom: 10px;
}
.content-section-b{
	padding-top: 10px;
	padding-bottom: 10px;
}
.smith{
	padding-top: 20px;
}
<<<<<<< Updated upstream
.banner{
  padding-bottom: 50px;
  padding-top: 450px;
  background-size: contain;
}
=======

.dropdown-toggle{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #90D8A0;
  text-transform: uppercase;
}
.item{
 max-height: px;
}

.intro-message{
  padding-top: 80px;
  padding-bottom: 80px;
}
.banner {
    padding: 250px 50px;
    color: #f8f8f8;
    background: url(../img/prom.jpeg) no-repeat center center;
    background-size: contain;
    padding-bottom: 50px;
  padding-top: 450px;
    }
.intro-header{
  background-image: url('../img/mtnroad.jpeg');
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.btn, .btn-primary {
color: #000000;
background-color: #f5f5f5;
border-color: darkgray;
}
#showroom{
  background-color: #f8f8f8;
}
footer{
  padding-top: 15px;
padding-bottom: 15px;
text-align: center;
}



>>>>>>> Stashed changes
